<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/navBar.css" />
    <link rel="stylesheet" href="../styles/home.css" />
    <script src="../scripts/script.js"></script>
  </head>
  <body>
    <nav>
      <a href="./index.html">
        <img
          src="../MeuJeitoDeFalar.png"
          alt="Meu Jeito De Falar"
          width="50"
          height="auto"
        />
      </a>

      <img src="../autism.png" alt="Autismo" width="100" height="auto" />
    </nav>

    <section class="cards-square">
      <div class="cards">
        <button
          onclick="falando('Estou com sede')"
          style="background-color: #53dbe2"
        >
          Estou com sede <span>🧃</span>
        </button>
        <button
          onclick="falando('Quero ir ao banheiro')"
          style="background-color: #ffce71"
        >
          Quero ir ao banheiro <span>🚽</span>
        </button>
        <button
          onclick="falando('Estou com fome')"
          style="background-color: #7ae1c2"
        >
          Estou com fome <span>🍔</span>
        </button>
        <button
          onclick="falando('Não estou bem')"
          style="background-color: #ffa793"
        >
          Não estou bem <span>🤒</span>
        </button>
        <button
          onclick="falando('Quero brincar')"
          style="background-color: #53dbe2"
        >
          Quero brincar <span>🪁</span>
        </button>
      </div>

      <div class="cards">
        <button
          onclick="falando('Estou cansado')"
          style="background-color: #ffce71"
        >
          Estou cansado <span>🥱</span>
        </button>
        <button
          onclick="falando('Quero ir embora')"
          style="background-color: #7ae1c2"
        >
          Quero ir embora <span>🏃‍➡️</span>
        </button>
        <button
          onclick="falando('Estou bravo')"
          style="background-color: #ffa793"
        >
          Estou bravo <span>😡</span>
        </button>
        <button
          onclick="falando('Quero parar')"
          style="background-color: #53dbe2"
        >
          Quero parar <span>🚫</span>
        </button>
        <button
          onclick="falando('Preciso de ajuda')"
          style="background-color: #ffce71"
        >
          Preciso de ajuda <span>⚠️</span>
        </button>
      </div>
    </section>

    <script src="../scripts/script.js"></script>
  </body>
</html>
